.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}
